<h1>Sudoku</h1>

<table style="width:100%">
  <tr>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/7j8h1g6h1h2i4i3i2h5h4g6h4g7h5g1h3h6i9i7i3h7h8g5h1j9" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su1');">
      <img src="{{ site.url }}/assets/img/su1.png" alt="q1" title="q1" /></a>
      <br><p class="game-desc">Sudoku 1<br>Difficulty: ★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/g67j1g8h6h32k5g4h2k56g43k78g18k9h6g1k91h7h4g4j95g" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su2');">
      <img src="{{ site.url }}/assets/img/su2.png" alt="q2" title="q2" /></a>
      <br><p class="game-desc">Sudoku 2<br>Difficulty: ★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/i4h1k57h2g2k4g3g4k5g9g2i7g6g5k8g8g6k9g7h41k4h3i" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su3');">
      <img src="{{ site.url }}/assets/img/su3.png" alt="q3" title="q3" /></a>
      <br><p class="game-desc">Sudoku 3<br>Difficulty: ★★</p>
    </center></td>
  </tr>
  <tr>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/1h8g5g2k7g4g1i9g6g3g8p54g71p3g4g5g1i2g3g9k9g6g2h8" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su4');">
      <img src="{{ site.url }}/assets/img/su4.png" alt="q4" title="q4" /></a>
      <br><p class="game-desc">Sudoku 4<br>Difficulty: ★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/h9k1g7k2g6h41g3h1i5g4i2k5i5g9i6h2g39h7g9k8g3k9h" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su5');">
      <img src="{{ site.url }}/assets/img/su5.png" alt="q5" title="q5" /></a>
      <br><p class="game-desc">Sudoku 5<br>Difficulty: ★★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?sudoku/9/9/h5g2g7i3g7g9g1j5g3h29g1i4g55g3i1g76g4i8g98h3g6j1g2g5g4i9g1g2h" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'su6');">
      <img src="{{ site.url }}/assets/img/su6.png" alt="q6" title="q6" /></a>
      <br><p class="game-desc">Sudoku 6<br>Difficulty: ★★★</p>
    </center></td>
  </tr>
</table>


<h1>Kakuro</h1>

<table style="width:100%">
  <tr>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/.JhlD00hl73liKnDgrgDmg3l30l4imgar3Dm66lh0P7m6cma070lj6m7br87m74l3hl36m47r0an.l04l.05l..EgDaf4EgbgKg7" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'ka1');">
      <img src="{{ site.url }}/assets/img/ka1.png" alt="q1" title="q1" /></a>
      <br><p class="game-desc">Kakuro 1<br>Difficulty: ★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/lgKn0EtgDm5AngKnh0mfWuS6mfgl40gJqf040lJemDbuh7mgbncan40m0Wt0Jn03lgObKgSJOghVga3IjB" target="_blank" rel="nofollow"
      onclick="ga('send', 'event', 'Online', 'play', 'ka2');">
      <img src="{{ site.url }}/assets/img/ka2.png" alt="q2" title="q2" /></a>
      <br><p class="game-desc">Kakuro 2<br>Difficulty: ★★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/mg00gl7DqgTp.PIqN0.DKn6Dn60nS4lOjofgogcohclhcn0JnDHn.304Wqg0h0p0Kq0hl.0imb4NDSObg9EGgcB7" target="_blank" rel="nofollow"
      onclick="ga('send', 'event', 'Online', 'play', 'ka3');">
      <img src="{{ site.url }}/assets/img/ka3.png" alt="q3" title="q3" /></a>
      <br><p class="game-desc">Kakuro 3<br>Difficulty: ★★★</p>
    </center></td>
  </tr>
  <tr>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/n09lcjq6Cp4Zsh0m8fmDEr0hlTgl30O4lg0.6glH080lA3lKgr7em7EmaZsc0p0bq08l0FnbOBdaOIP3Jd7DbiBD" target="_blank" rel="nofollow" 
      onclick="ga('send', 'event', 'Online', 'play', 'ka4');">
      <img src="{{ site.url }}/assets/img/ka4.png" alt="q4" title="q4" /></a>
      <br><p class="game-desc">Kakuro 4<br>Difficulty: ★★★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/.fKn.37mhgobBqebnadnFanaaqGanf0.0Jnfbn70K0bdnKaqgene4ngIn86q0go.m.0Jn..DahgdaGdbCA9Jg" target="_blank" rel="nofollow"
      onclick="ga('send', 'event', 'Online', 'play', 'ka5');">
      <img src="{{ site.url }}/assets/img/ka5.png" alt="q5" title="q5" /></a>
      <br><p class="game-desc">Kakuro 5<br>Difficulty: ★★★★</p>
    </center></td>
    <td><center>
      <a href="http://pzv.jp/p.html?kakuro/11/11/ma00bl40V9pZCrIalhgraem0dlc060BOo67rhKr0Poi0G063l4Dmgar8glgar0Jp.0gl.0EmaJa3ZQ7Ab8gf8gC3" target="_blank" rel="nofollow"
      onclick="ga('send', 'event', 'Online', 'play', 'ka6');">
      <img src="{{ site.url }}/assets/img/ka6.png" alt="q6" title="q6" /></a>
      <br><p class="game-desc">Kakuro 6<br>Difficulty: ★★★★★</p>
    </center></td>
  </tr>
</table>